
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLabRequisitionLabel">Create or edit a Lab Requisition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.labRequisition.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.labRequisition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bluebookApp.labRequisition.patient_signature" for="field_patient_signature">Patient Signature</label>
            <input type="text" class="form-control" name="patient_signature" id="field_patient_signature"
                    ng-model="vm.labRequisition.patient_signature"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.labRequisition.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_barcode">Barcode</label>
            <input type="text" class="form-control" name="barcode" id="field_barcode"
                    ng-model="vm.labRequisition.barcode"
                     />
        </div>

        <div class="form-group">
            <label for="field_labCompendium">Lab Compendium</label>
            <select class="form-control" id="field_labCompendium" name="labCompendium" ng-model="vm.labRequisition.labCompendium" ng-options="labCompendium as labCompendium.code for labCompendium in vm.labcompendiums track by labCompendium.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_chart">Chart</label>
            <select class="form-control" id="field_chart" name="chart" ng-model="vm.labRequisition.chart" ng-options="chart as chart.mr_no for chart in vm.charts track by chart.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
