<form name="vm.form.basicInfo" role="form" show-validation>
    <div class="box-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group" ng-show="!vm.oldChart">
                    <label class="control-label">First Name </label>
                    <input type="text" ng-model="vm.chart.patient.firstName" placeholder="First Name" name="firstName"
                           typeahead-min-length="3"
                           uib-typeahead="item as (item.firstName + ' ' + item.lastName + ' ' + item.dateBirth | date:'M/dd/yy') for item in vm.getPatients($viewValue, null)"
                           id="field_firstName"
                           typeahead-editable="true" typeahead-loading="loadingFirstName"
                           typeahead-no-results="noResultsFirstName"
                           class="form-control" typeahead-on-select="vm.selectPatient($item, $model, $label)" required
                           ng-disabled="vm.chart.patient.id"/>
                    <i ng-show="loadingFirstName" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsFirstName">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                    <div ng-show="vm.form.basicInfo.firstName.$invalid">
                        <p class="help-block"
                           ng-show="vm.form.basicInfo.firstName.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.oldChart">
                    <label class="control-label">First Name *</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="field_firstName2" value="{{vm.chart.patient.firstName}}" ng-disabled="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.clear()">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_middleName">Middle Name</label><br/>
                <input type="text" class="form-control" id="field_middleName"
                       ng-model="vm.chart.patient.middleName" placeholder="Middle Name"
                       name="middleName" ng-disabled="vm.chart.patient.id"/>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Last Name </label>
                    <input type="text" ng-model="vm.chart.patient.lastName" placeholder="Last Name" name="lastName"
                           typeahead-min-length="3" required
                           uib-typeahead="item as item.lastName for item in vm.getPatients(null, $viewValue)"
                           id="field_lastName"
                           typeahead-editable="true" typeahead-loading="loadingLastName"
                           typeahead-no-results="noResultsLastName" class="form-control"
                           ng-disabled="vm.chart.patient.id"/>
                    <i ng-show="loadingLastName" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsLastName">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                    <div ng-show="vm.form.basicInfo.lastName.$invalid">
                        <p class="help-block"
                           ng-show="vm.form.basicInfo.lastName.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_middleName">Preferred Name</label><br/>
                <input type="text" class="form-control" id="field_preferredName" ng-disabled="vm.chart.patient.id"
                       ng-model="vm.chart.patient.preferredName" placeholder="Preferred Name" name="preferredName"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_gender">Gender </label><br>
                    <select class="form-control" ng-model="vm.chart.patient.sex"
                            ng-options="item as item for item in vm.gender track by item"
                            id="field_gender" name="gender" ng-disabled="vm.chart.patient.id" required>
                        <option value=""></option>
                    </select>
                    <div ng-show="vm.form.basicInfo.gender.$invalid">
                        <p class="help-block"
                           ng-show="vm.form.basicInfo.gender.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_maritalStatus">Marital Status </label><br>
                    <select class="form-control" ng-model="vm.chart.typeMaritalStatus"
                            ng-options="item as item.name for item in vm.maritalStatus track by item.name"
                            id="field_maritalStatus" name="maritalStatus">
                        <option value=""></option>
                    </select>
                    <!--<div ng-show="vm.form.basicInfo.maritalStatus.$invalid">-->
                        <!--<p class="help-block"-->
                           <!--ng-show="vm.form.basicInfo.maritalStatus.$error.required">-->
                            <!--This field is required.-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_race">Race</label>
                    <select class="form-control" ng-model="vm.chart.patient.typeRace"
                            ng-options="item as item.name for item in vm.race track by item.name"
                            id="field_race" name="race" ng-disabled="vm.chart.patient.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_ethnicity">Ethnicity</label>
                    <select class="form-control" ng-model="vm.chart.typeEthnicity" name="ethnicity"
                            ng-options="item as item.name for item in vm.ethnicity track by item.name"
                            id="field_ethnicity" ng-disabled="vm.chart.patient.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_dateBirth">Birth Date </label>
                    <div class="input-group">
                        <input id="field_dateBirth" type="text" class="form-control" name="dateBirth" required
                               uib-datepicker-popup="{{inputDateFormat}}" ng-model="vm.chart.patient.dateBirth"
                               is-open="vm.datePickerOpenStatus.dateBirth" ng-disabled="vm.chart.patient.id"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateBirth')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div ng-show="vm.form.basicInfo.dateBirth.$invalid">
                        <p class="help-block"
                           ng-show="vm.form.basicInfo.dateBirth.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_middleName">SSN</label><br/>
                    <div class="form-group">
                        <input type="text" class="form-control" id="field_ssn"
                               ui-mask="999-99-9999"
                               ng-model="vm.chart.patient.social" ng-disabled="vm.chart.patient.id" name="ssn"
                               name="ssn"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_paymentMethod">Payment Method </label><br>
                <div class="form-group">
                    <select class="form-control" ng-model="vm.chart.typePaymentMethods"
                            ng-change="vm.changePaymentMethod()"
                            ng-options="item as item.name for item in vm.paymentMethod track by item.name"
                            id="field_paymentMethod" ng-change="checkPaymentMethod()" name="paymentMethod" required>
                        <option value=""></option>
                    </select>
                </div>
                <div ng-show="vm.form.basicInfo.paymentMethod.$invalid">
                    <p class="help-block"
                       ng-show="vm.form.basicInfo.paymentMethod.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <label class="control-label" for="field_repName">Rep On Intake</label><br/>
                <div class="form-group">
                    <input type="text" class="form-control" id="field_repName" ng-disabled="true"
                           ng-model="vm.chart.repName" placeholder="Respond Intake" name="repName"/>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_dateFirstContact">Date First Contact</label><br/>
                <div class="input-group">
                    <input id="field_dateFirstContact" type="text" class="form-control" name="dateFirstContact"
                           uib-datepicker-popup="{{inputDateFormat}}" placeholder="Date First Contact"
                           ng-model="vm.chart.dateFirstContact" is-open="vm.datePickerOpenStatus.dateFirstContact"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFirstContact')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="control-label" for="field_firstContactName">First Contact Name</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="field_firstContactName"
                           ng-model="vm.chart.firstContactName" placeholder="First Contact Name"
                           name="firstContactName"/>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_firstContactRelationship">First Contact Relationship</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="field_firstContactRelationship"
                           ng-model="vm.chart.firstContactRelationship" placeholder="First Contact Relationship"
                           name="firstContactRelationship"/>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_firstContactPhone">First Contact Phone</label>
                <input type="text" class="form-control" id="field_firstContactPhone"
                       ng-model="vm.chart.firstContactPhone" placeholder="First Contact Phone" name="firstContactPhone"
                       ui-mask="(999) 999-9999" ui-mask-placeholder/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Diagnosis(ICD10) </label>
                    <ui-select ng-model="vm.chart.icd10S" name="diagnosis" id="field_diagnosis"
                               reset-search-input="true"
                               title="Diagnosis" multiple
                               close-on-select="false">
                        <ui-select-match placeholder="Enter the code of ICD10 ...">{{$item.code}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.icd10s"
                                           refresh="vm.getIcd10s($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="item.code | highlight: $select.search"></div>
                            <small ng-bind-html="item.description | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                    <!--<div ng-show="vm.form.basicInfo.diagnosis.$invalid">-->
                        <!--<p class="help-block"-->
                           <!--ng-show="vm.form.basicInfo.diagnosis.$error.required">-->
                            <!--This field is required.-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
            <!--<div class="col-lg-3">-->
                <!--<label class="control-label">Drugs History</label><br>-->
                <!--<ui-select ng-model="vm.chart.drugs" name="drugs" id="field_drugs"-->
                           <!--reset-search-input="true"-->
                           <!--title="Drugs" multiple-->
                           <!--close-on-select="false">-->
                    <!--<ui-select-match placeholder="Enter drugs name ...">{{$item.name.split(' ')[0]}}</ui-select-match>-->
                    <!--<ui-select-choices repeat="item in vm.drugs"-->
                                       <!--refresh="vm.getDrugs($select.search)"-->
                                       <!--refresh-delay="0">-->
                        <!--{{item.name}}-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            <!--</div>-->
            <div class="col-lg-3">
                <label class="control-label" for="field_levelCare">Level of Care</label><br>
                <div class="form-group">
                    <select class="form-control" ng-model="vm.chart.typeLevelCare"
                            ng-options="item as item.name for item in vm.typeLevelCare track by item.name"
                            id="field_levelCare" name="typeLevelCare">
                        <option value=""></option>
                    </select>
                    <!--<div ng-show="vm.form.basicInfo.typeLevelCare.$invalid">-->
                        <!--<p class="help-block"-->
                           <!--ng-show="vm.form.basicInfo.typeLevelCare.$error.required">-->
                            <!--This field is required.-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_admissionDate">Admission Date</label>
                    <div class="input-group">
                        <input id="field_admissionDate" type="text" class="form-control" name="admissionDate" required
                               uib-datepicker-popup="{{inputDateFormat}}" placeholder="Admission Date"
                               ng-model="vm.chart.admissionDate" is-open="vm.datePickerOpenStatus.admissionDate"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('admissionDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div ng-show="vm.form.basicInfo.admissionDate.$invalid">
                        <p class="help-block"
                           ng-show="vm.form.basicInfo.admissionDate.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_contactsFacility">Referrer</label>
                    <input type="text" ng-model="vm.chart.referrer2" placeholder="Referrer" name="referrer"
                           typeahead-min-length="3"
                           uib-typeahead="item as item.name for item in vm.getContactsFacility($viewValue)"
                           id="field_contactsFacility"
                           typeahead-editable="true" typeahead-loading="loadingContacts"
                           typeahead-no-results="noResultsReferrer" class="form-control"/>
                    <i ng-show="loadingContacts" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsReferrer">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_referrerRequired">Referrer Required Contact</label><br/>
                <toggle ng-model="vm.chart.referrerRequireContact" on="Yes" off="No" id="field_referrerRequired"></toggle>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_dischargeDate">Discharge Date</label>
                    <div class="input-group">
                        <input id="field_dischargeDate" type="text" class="form-control" name="dischargeDate"
                               uib-datepicker-popup="{{inputDateFormat}}" placeholder="Discharge Date"
                               ng-model="vm.chart.dischargeDate" is-open="vm.datePickerOpenStatus.dischargeDate"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dischargeDate')">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <!--<div ng-show="vm.form.basicInfo.dischargeDate.$invalid">-->
                        <!--<p class="help-block"-->
                           <!--ng-show="vm.form.basicInfo.dischargeDate.$error.required">-->
                            <!--This field is required.-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_dischargeTo">Discharge To</label>
                    <input type="text" ng-model="vm.chart.dischargeTo2" placeholder="Discharge To" name="dischargeTo"
                           typeahead-min-length="3"
                           uib-typeahead="item as item.name for item in vm.getContactsFacility($viewValue)"
                           id="field_dischargeTo"
                           typeahead-editable="true" typeahead-loading="loadingContacts"
                           typeahead-no-results="noResultsDischargeTo" class="form-control"/>
                    <i ng-show="loadingContacts" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsDischargeTo">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_dischargeType">Discharge Type</label><br>
                <div class="form-group">
                    <select class="form-control" ng-model="vm.chart.typeDischargeType"
                            ng-options="item as item.name for item in vm.typeDischargeType track by item.name"
                            id="field_dischargeType" name="dischargeType">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="field_oneTimeOnly">One time only</label><br/>
                <toggle ng-model="vm.chart.oneTimeOnly" on="Yes" off="No" id="field_oneTimeOnly"></toggle>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group" ng-show="!vm.oldChart || !vm.oldChart.occupancy">
                    <label class="control-label" for="field_occupancy">Occupation</label>
                    <input type="text" class="form-control" id="field_occupancy"
                           ng-model="vm.chart.occupancy" placeholder="Occupation"
                           name="occupancy"/>
                </div>
                <div class="form-group" ng-show="vm.oldChart && vm.oldChart.occupancy">
                    <label class="control-label" for="field_occupancy">Occupation</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="field_occupancy"
                               ng-model="vm.chart.occupancy"
                               placeholder="{{vm.oldChart.occupancy ? vm.oldChart.occupancy :'Occupation'}}"
                               name="occupancy"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.chart.occupancy = vm.oldChart.occupancy">
                                <i class="glyphicon glyphicon-copy"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" ng-show="!vm.oldChart || !vm.oldChart.employer">
                    <label class="control-label" for="field_employerName">Employer Name</label>
                    <input type="text" class="form-control" id="field_employerName"
                           ng-model="vm.chart.employer"
                           placeholder="{{vm.chart.employer ? vm.chart.employer :'Employer'}}"
                           name="employer"/>
                </div>
                <div class="form-group" ng-show="vm.oldChart && vm.oldChart.employer">
                    <label class="control-label" for="field_employerName">Employer Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="field_employerName"
                               ng-model="vm.chart.employer"
                               placeholder="{{vm.oldChart.employer ? vm.oldChart.employer :'Employer'}}"
                               name="employer"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.chart.employer = vm.oldChart.employer">
                                <i class="glyphicon glyphicon-copy"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" ng-show="!vm.oldChart || !vm.oldChart.employer">
                    <label class="control-label" for="field_employerPhone">Employer Phone</label>
                    <input type="text" class="form-control" id="field_employerPhone"
                           ng-model="vm.chart.employerPhone"
                           placeholder="{{vm.chart.employerPhone ? vm.chart.employerPhone :'Employer Phone'}}"
                           ui-mask="(999) 999-9999" ui-mask-placeholder
                           name="employerPhone"/>
                </div>
                <div class="form-group" ng-show="vm.oldChart && vm.oldChart.employerPhone">
                    <label class="control-label" for="field_employerPhone">Employer Phone</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="field_employerPhone"
                               ng-model="vm.chart.employerPhone"
                               placeholder="{{vm.oldChart.employerPhone ? vm.oldChart.employerPhone :'Employer Phone'}}"
                               ui-mask="(999) 999-9999" ui-mask-placeholder
                               name="employerPhone"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.chart.employerPhone = vm.oldChart.employerPhone">
                                <i class="glyphicon glyphicon-copy"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_sobrietyDate">Sobriety Date</label>
                    <div class="input-group">
                        <input id="field_sobrietyDate" type="text" class="form-control" name="sobrietyDate"
                               uib-datepicker-popup="{{inputDateFormat}}" ng-model="vm.chart.sobrietyDate"
                               is-open="vm.datePickerOpenStatus.sobrietyDate"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sobrietyDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="field_bed">Bed</label>
                    <select class="form-control" ng-model="vm.chart.bed"
                            ng-options="item as item.name for item in vm.beds | filter: vm.filterBed() track by item.id"
                            id="field_bed" name="bed">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</form>
