
<div>
    <h2><span>Signature</span> {{vm.signature.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Signature</span></dt>
        <dd>
            <div ng-if="vm.signature.signature">
                <a ng-click="vm.openFile(vm.signature.signatureContentType, vm.signature.signature)">
                    <img data-ng-src="{{'data:' + vm.signature.signatureContentType + ';base64,' + vm.signature.signature}}" style="max-width: 100%;"/>
                </a>
                {{vm.signature.signatureContentType}}, {{vm.byteSize(vm.signature.signature)}}
            </div>
        </dd>
        <dt><span>Ip</span></dt>
        <dd>
            <span>{{vm.signature.ip}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{vm.signature.date | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="signature-detail.edit({id:vm.signature.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
