<div class="box-header with-border">
    <div class="navbar-form navbar-left" style="margin-left: -15px;">
        <div ng-transclude></div>
    </div>
    <div class="navbar-form navbar-right search-control">
        <div class="text-right">
            <div class="has-feedback input-group-sm">
                <input type="text" class="form-control" ng-model="vm.searchQuery" size="80"
                       id="searchQueryrpt-metadata" placeholder="Query" ng-change="vm.search()">
                <i class="fa fa-search form-control-feedback"></i>
            </div>
        </div>
    </div>
</div>
