<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myServiceProviderLabel">Create or edit a Service Provider</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>


        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" required
                           ng-model="vm.serviceProvider.name"
                    />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="field_providerType">Provider Type</label>
                    <select class="form-control" name="providerType" ng-model="vm.serviceProvider.providerType"
                            id="field_providerType">
                        <option value="PHARMACY">PHARMACY</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="field_fax">Fax</label>
                    <input type="text" required class="form-control" name="fax" id="field_fax"
                           ng-model="vm.serviceProvider.fax"
                    />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           ng-model="vm.serviceProvider.phone"
                    />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-lg-12">

                <div class="form-group">
                    <label class="control-label" for="field_address">Address</label>
                    <textarea rows="2" type="text" class="form-control" name="address" id="field_address"
                           ng-model="vm.serviceProvider.address"></textarea>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
