<div>
    <h2>Patient Action Takes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="patient-action-take.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Patient Action Take
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Collected</span></th>
                    <th><span>Collected Date</span></th>
                    <th><span>Schedule Date</span></th>
                    <th><span>Sent</span></th>
                    <th><span>Sent Date</span></th>
                    <th><span>Canceled</span></th>
                    <th><span>Patient Action Pres</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patientActionTake in vm.patientActionTakes track by patientActionTake.id">
                    <td><a ui-sref="patient-action-take-detail({id:patientActionTake.id})">{{patientActionTake.id}}</a></td>
                    <td>{{patientActionTake.collected}}</td>
                        <td>{{patientActionTake.collectedDate | date:'mediumDate'}}</td>
                        <td>{{patientActionTake.scheduleDate | date:'mediumDate'}}</td>
                    <td>{{patientActionTake.sent}}</td>
                        <td>{{patientActionTake.sentDate | date:'mediumDate'}}</td>
                    <td>{{patientActionTake.canceled}}</td>
                    <td>
                        <a ui-sref="patient-action-pres-detail({id:patientActionTake.patientActionPres.id})">{{patientActionTake.patientActionPres.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="patient-action-take-detail({id:patientActionTake.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="patient-action-take.edit({id:patientActionTake.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="patient-action-take.delete({id:patientActionTake.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
