
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCareManagerLabel">Create or edit a Care Manager</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.careManager.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.careManager.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bluebookApp.careManager.full_name" for="field_full_name">Full Name</label>
            <input type="text" class="form-control" name="full_name" id="field_full_name"
                    ng-model="vm.careManager.full_name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.careManager.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bluebookApp.careManager.insurance_company" for="field_insurance_company">Insurance Company</label>
            <input type="text" class="form-control" name="insurance_company" id="field_insurance_company"
                    ng-model="vm.careManager.insurance_company"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.careManager.notes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.careManager.status"
                    required ng-maxlength="3" />
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_chart">Chart</label>
            <select class="form-control" id="field_chart" name="chart" ng-model="vm.careManager.chart" ng-options="chart as chart.mr_no for chart in vm.charts track by chart.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
