
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTypePatientProcessLabel">Create or edit a Type Patient Process</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.typePatientProcess.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.typePatientProcess.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.typePatientProcess.name"
                     />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="bluebookApp.typePatientProcess.allow_ur" for="field_allow_ur">Allow Ur</label>-->
            <!--<input type="text" class="form-control" name="allow_ur" id="field_allow_ur"-->
                    <!--ng-model="vm.typePatientProcess.allow_ur"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_protect">Protect</label>-->
            <!--<input type="text" class="form-control" name="protect" id="field_protect"-->
                    <!--ng-model="vm.typePatientProcess.protect"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_status">Status</label>-->
            <!--<input type="text" class="form-control" name="status" id="field_status"-->
                    <!--ng-model="vm.typePatientProcess.status"-->
                    <!--ng-maxlength="5" />-->
            <!--<div ng-show="editForm.status.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.status.$error.maxlength">-->
                    <!--This field cannot be longer than 5 characters.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label for="field_typePage">Type Page</label>
            <select class="form-control" id="field_typePage" name="typePage" ng-model="vm.typePatientProcess.typePage" ng-options="typePage as typePage.name for typePage in vm.typepages track by typePage.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
