<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Audits</h1>
    <div ncy-breadcrumb></div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Filter by date</h4>
                            <p class="input-group">
                                <span class="input-group-addon">from</span>
                                <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.onChangeDate()" required/>
                                <span class="input-group-addon">to</span>
                                <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.onChangeDate()" required/>
                            </p>
                        </div>
                    </div>

                    <table class="table table-condensed table-striped table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span>Date</span></th>
                            <th ng-click="predicate = 'principal'; reverse=!reverse"><span>User</span></th>
                            <th ng-click="predicate = 'type'; reverse=!reverse"><span>State</span></th>
                            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span>Extra data</span></th>
                        </tr>
                        </thead>

                        <tr ng-repeat="audit in vm.audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
                            <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                            <td><small>{{audit.principal}}</small></td>
                            <td>{{audit.type}}</td>
                            <td>
                                <span ng-show="audit.data.message">{{audit.data.message}}</span>
                                <span ng-show="audit.data.remoteAddress"><span>Remote Address</span> {{audit.data.remoteAddress}}</span>
                            </td>
                        </tr>
                    </table>

                    <div class="text-center">
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>-->
                    <!--<a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All-->
                    <!--Orders</a>-->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->

        </div>
    </div>

</section><!-- /.content -->
