<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;
    </button>
    <h4 class="modal-title">Group Session Details</h4>
</div>
    <div class="row">
        <div class="col-lg-12 border-line-form">
            <fieldset>
                <form name="vm.form.formGroupSessionDetails" role="form" data-toggle="validator">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <!--<div class="input-group">-->
                                    <label class="control-label" for="field_start">Start Time</label>
                                    <input id="field_start" type="time" class="form-control"
                                           name="start" ng-model="vm.groupSessionDetails.start" required/>
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label" for="field_finalized">Finalized</label>
                                    <input id="field_finalized" type="time" class="form-control"
                                           name="start" ng-model="vm.groupSessionDetails.finalized"/>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="field_notes">Note</label>
                                    <input type="text" class="form-control" name="notes" id="field_notes"
                                           ng-model="vm.groupDetailsChart.notes" ng-maxlength="800">
                                    </input>
                                </div>
                            </div>


                        </div>

                    </div>
                </form>

            </fieldset>
        </div>

    </div>
<div class="modal-footer">
    <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" ng-click="vm.clear()">Cancel
                    </button>
                    <button type="button" class="btn btn-success" ng-click="vm.save()"
                            ng-disabled="vm.form.formGroupSessionDetails.$invalid">Save
                    </button>
                </div>
        </div>

    </div>
</div>
