<div class="box-header with-border">
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" ng-click="vm.addNewOrder()"
                    ng-show="!vm.newOrder && !vm.editOrder">
                <span class="glyphicon glyphicon-add"></span> <span><i class="fa fa-plus-circle"></i> New Order</span>
            </button>
            <div ui-view="add-order" ng-if="vm.newOrder" class="row"></div>
            <div ui-view="edit-order" ng-if="vm.editOrder && !vm.newOrder" class="row"></div>
            <div ui-view="edit-order-tests" ng-if="vm.editOrder && !vm.newOrder" class="row block-mt15"></div>
            <div ng-if="vm.editOrder && !vm.newOrder" class="block-mt15 pull-right">
                <a class="btn btn-sm btn-default" ng-click="vm.hideAddEditPanel()">
                    <i class="fa fa-mail-reply"></i> Back
                </a>
            </div>

            <div ng-show="!vm.editOrder && !vm.newOrder">
                <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                       dt-instance="vm.dtInstance" class="table table-condensed table-striped table-bordered">
                </table>
            </div>
        </div>
    </div>
</div>
