<section>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset class="nav-tabs-custom" active="vm.activeTab">
                <!--<uib-tab index="100" heading="Back" ng-click="vm.backDetailsBasic()" heading="Back">-->
                    <!--<uib-tab-heading>-->
                        <!--<i class="fa fa-reply"></i>-->
                    <!--</uib-tab-heading>-->
                <!--</uib-tab>-->
                <uib-tab ng-repeat="item in vm.patientProcessForms track by item.id"
                         ng-click="vm.loadList(item)" index="$index" id="item.id">

                    <uib-tab-heading>
                        {{item.name | capitalize}}&nbsp;
                        <span class="label label-danger" title="Pending Forms"
                              style="cursor: text" ng-show="vm.countPending && (vm.activeTab == $index)">
                                {{vm.countPending}}
                            </span>
                        &nbsp;
                        <span class="label label-warning" title="Forms In Process"
                              style="cursor: text" ng-show="vm.countInProcess && (vm.activeTab == $index)">
                                {{vm.countInProcess}}
                            </span>
                    </uib-tab-heading>
                    <div ui-view="content">
                        <div class="box-header">
                            <div class="navbar-form navbar-left" style="margin-left: -15px;">
                                <button class="btn btn-primary" ng-click="vm.newForm(item.id)">
                                    <span class="glyphicon glyphicon-plus"></span> <span>New</span>
                                </button>
                                <!--ui-sref="patient-forms.assign-form({ppId: item.id})"-->
                            </div>
                            <div class="navbar-form navbar-right">
                                <div class="text-right">
                                    <div class="has-feedback input-group-sm">
                                        <input type="text" class="form-control" ng-model="vm.searchQuery" size="80"
                                               id="searchQueryroom" placeholder="Search Form..." ng-change="vm.search()">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Assigned Date</th>
                                    <th>Patient Sign Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td valign="top" colspan="7" ng-if="!vm.listForms.length">No data available in table</td>
                                </tr>
                                <tr ng-repeat="value in vm.listForms track by value.id">
                                    <td>{{$index+1}}</td>
                                    <td>{{value.name.split(' ')[0] + ' ' + value.name.split(' ')[1] + ' ' + value.name.split(' ')[2] + ' ' +
                                        value.name.split(' ')[3] + ' ' + value.name.split(' ')[4] + ' ' + value.name.split(' ')[5] + ' ' +
                                        value.name.split(' ')[6]}}
                                    </td>
                                    <td>{{value.type}}</td>
                                    <td>
                                        <small class="label label-{{vm.loadStatusColor(value.status)}}">{{value.status}}</small>
                                    </td>
                                    <td>{{value.createdDate | date: 'MM/dd/y hh:mm'}}</td>
                                    <td>{{value.patientSignature?value.patientSignature.createdDate: 'Not Signed' | date: 'MM/dd/yyyy hh:mm'}}</td>
                                    <td>
                                            <a class="btn-sm btn-primary" title="Consent Details"
                                               ng-if="value.type == 'Consent'"
                                               ng-click="vm.consentInvoice(value.id, $index)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn-sm btn-primary block-ml5" title="View Evaluation"
                                               ng-if="value.type == 'Evaluation'"
                                               ng-click="vm.evaluationInvoiceView(value.id)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn-sm btn-warning block-ml5" title="Edit Evaluation"
                                               ng-if="value.type == 'Evaluation'"
                                               ng-click="vm.evaluationInvoice(value.id)">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a class="btn-sm btn-danger block-ml5" title="Delete Form"
                                               ng-if="(value.type == 'Consent' && value.status=='Pending')"
                                               ng-click="vm.deleteConsent(value.id)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a class="btn-sm btn-danger block-ml5" title="Delete Form"
                                               ng-if="(value.type == 'Evaluation' && value.status=='Pending')"
                                               ng-click="vm.deleteEvaluation(value.id)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"-->
                        <!--dt-instance="vm.dtInstance"-->
                        <!--class="table table-striped table-bordered">-->
                        <!--</table>-->
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>
