<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png"/>
                <span data-translate="global.title">Dialysis</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="race" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.race">Race</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="ethnicity" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.ethnicity">Ethnicity</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="education-level" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.educationLevel">Education Level</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="religion" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.religion">Religion</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="language" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.language">Language</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employment-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.employmentStatus">Employment Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="residential-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.residentialStatus">Residential Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="legal-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.legalStatus">Legal Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="provider" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.provider">Provider</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="health-plan" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.healthPlan">Health Plan</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="psychiatrist" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.psychiatrist">Psychiatrist</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="physician" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.physician">Physician</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.patient">Patient</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="diagnosis" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.diagnosis">Diagnosis</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="intake" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.intake">Intake</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="company" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.company">Company</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="country" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.country">Country</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="state" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.state">State</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="city" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.city">City</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="department" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.department">Department</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="gender" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.gender">Gender</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="marital" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.marital">Marital</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employee" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.employee">Employee</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="contract-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.contractType">Contract Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="working-hours" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.workingHours">Working Hours</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schedule-pay" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.schedulePay">Schedule Pay</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="contract-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.contractStatus">Contract Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="pay-roll-struct" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.payRollStruct">Pay Roll Struct</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="contract" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.contract">Contract</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="job-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.jobStatus">Job Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="job" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.job">Job</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="health-plan-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.healthPlanType">Health Plan Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-template" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Template</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-transfer-history" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Transfer History</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="care-team-specialty" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Care Team Specialty</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="care-team" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Care Team</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="renal-failure" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Renal Failure</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-access" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Access</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-access-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Access Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="vein-site" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Vein Site</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-access-function" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Access Function</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-access-physician" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Access Physician</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="diangnosis" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Diangnosis</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="problem-list" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Problem List</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="draw-week" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Draw Week</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="report-group" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Report Group</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="country-state" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Country State</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="city" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >City</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="address" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Address</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="hospitalization-discharge-to" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Hospitalization Discharge To</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="hospitalization" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Hospitalization</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="source" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Source</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="infection-primary-access" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Infection Primary Access</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="dialyser-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Dialyser Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="sympthom" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Sympthom</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="infection" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Infection</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-address-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Address Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-address" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Address</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="corporation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Corporation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="clinic" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Clinic</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="insurance-carrier" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Insurance Carrier</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="insurance-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Insurance Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="insurance-level" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Insurance Level</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="insurance-relation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Insurance Relation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="insurance" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Insurance</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="modality" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Modality</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="physician" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Physician</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="language" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Language</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="race" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Race</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="diagnosis" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Diagnosis</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="symptom" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Symptom</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employee" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Employee</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-result" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Result</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employee-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Employee Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="specialist" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Specialist</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="test-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Test Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="test" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Test</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-order-test" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Order Test</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="bed" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Bed</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="forms" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Forms</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="building" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Building</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="room" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Room</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="facility" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Facility</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="urgent-issues" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Urgent Issues</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="type-patient-process" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Type Patient Process</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="chart-to-form" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Chart To Form</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="evaluation-template" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Evaluation Template</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="patient-medication-pres" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Patient Medication Pres</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="signature-guarantor" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Signature Guarantor</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="signature-patient" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Signature Patient</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="signature-employee" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Signature Employee</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="signature" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Signature</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="evaluation-signature" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Evaluation Signature</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="evaluation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Evaluation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="contacts-facility" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Contacts Facility</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="file" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >File</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="entity-audit" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.entity-audit">Entity Audit</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="entity-audit" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span >Entity Audit</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="elasticsearch-reindex" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
                                <span >Elasticsearch Reindex</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
