
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInsuranceCarrierLabel">Create or edit a Insurance Carrier</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.insuranceCarrier.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.insuranceCarrier.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_acctno">Acctno</label>
            <input type="text" class="form-control" name="acctno" id="field_acctno"
                    ng-model="vm.insuranceCarrier.acctno"
                    required />
            <div ng-show="editForm.acctno.$invalid">
                <p class="help-block"
                    ng-show="editForm.acctno.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.insuranceCarrier.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.insuranceCarrier.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address2">Address 2</label>
            <input type="text" class="form-control" name="address2" id="field_address2"
                    ng-model="vm.insuranceCarrier.address2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.insuranceCarrier.city"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.insuranceCarrier.state"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_zip">Zip</label>
            <input type="text" class="form-control" name="zip" id="field_zip"
                    ng-model="vm.insuranceCarrier.zip"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.insuranceCarrier.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_iType">I Type</label>
            <input type="text" class="form-control" name="iType" id="field_iType"
                    ng-model="vm.insuranceCarrier.iType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_etin">Etin</label>
            <input type="text" class="form-control" name="etin" id="field_etin"
                    ng-model="vm.insuranceCarrier.etin"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
