<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">We are working on this functionality!</h3>
        </div>
        <div class="box-body">
            <div class="abs-center">
                <div class="text-center mv-lg">
                    <h1 class="mb-lg"><sup><em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em></sup>
                        <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                        <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
                    </h1>
                    <div class="text-bold text-lg mb-lg">THIS PAGE IS UNDER MAINTENANCE</div>
                    <p class="lead m0">We'll back online shortly!</p>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit"
                    ui-sref="{{ vm.previousState }}"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
