body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.help-block {
    color: #ff000a !important;
}

.login-logo {
    margin-top: 7% !important;
    margin-bottom: 0 !important;
}

.login-box {
    margin-top: 0 !important;
}

@media print {
    a[href]:after {
        content: none !important;
    }
}

#fbplus-close {
    right: -35px !important;
}

.info-detail dt, dd {
    line-height: 1.8;
}

dl {
    margin-bottom: 5px;
}

dl dt {
    float: left;
    font-weight: bold;
    margin-right: 10px;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

/*Block margins*/

.block-m5 {
    margin: 5px;
}

.block-ml5 {
    margin-left: 5px;
}

.block-ml15 {
    margin-left: 15px;
}

.block-mr5 {
    margin-right: 5px;
}

.block-mr15 {
    margin-right: 15px;
}

.block-m15 {
    margin: 15px;
}

.block-mt5 {
    margin-top: 5px;
}

.block-mt15 {
    margin-top: 15px;
}

.block-mb5 {
    margin-bottom: 5px;
}

.block-mb15 {
    margin-bottom: 15px;
}

.block-pt15 {
    padding-top: 15px;
}

.block-pb15 {
    padding-bottom: 15px;
}

.block-lh30 {
    line-height: 30px;
}

.list-file {
    height: 115px;
    overflow: auto;
    padding: 5px;
    transform: translate(0, 0)
}

.ui-grid-header-cell-wrapper {
    height: auto !important
}

.load-mask, .load-mask-panel, .no-data {
    height: 100%;
    width: 100%
}

/*#loading-bar {*/
/*pointer-events: all;*/
/*z-index: 99999;*/
/*border: none;*/
/*margin: 0px;*/
/*padding: 0px;*/
/*width: 100%;*/
/*height: 100%;*/
/*top: 0px;*/
/*left: 0px;*/
/*cursor: wait;*/
/*position: fixed;*/
/*background-color: rgba(255, 255, 255, .5)*/
/*}*/

.load-mask {
    z-index: 100000001;
    display: block;
    position: absolute;
}

.load-mask-panel {
    display: table;
    background-color: rgba(255, 255, 255, .5)
}

.loading-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loading-center {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 30px;
    /*padding: 10px*/
}

img.preview-insurance {
    max-height: 75px;
    max-width: 150px;
}

.v-center {
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.vertical-text {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right, top;
    position: absolute;
    color: #FFF;
    background: #00c0ef;
    padding: 5px 6px 5px 7px;
}

@media screen and (max-width: 1895px) {
    .vertical-text {
        padding: 5px 4px 5px 4px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1575px) {
    .vertical-text {
        padding: 5px 10px 5px 10px;
        font-size: 15px;
    }

    .vertical-text > i {
        display: none;
    }
}

.btn-box-tool {
    font-size: 14px !important;
}

.vital-dashboard .small-box .icon {
    font-size: 55px !important;
    top: -2px;
    right: 15px;
}

.vital-dashboard .small-box h4 {
    font-weight: bolder;
}

div.search-control i.form-control-feedback {
    top: -2px !important;
}

div.face-sheet .btn-app > .badge {
    top: -8px;
    right: 0px;
}

/*Box-x*/

.shape {
    border-style: solid;
    border-width: 0 50px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}

.box-x {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    overflow: hidden;
}

.shape {
    border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.box-x-without-user {
    border: 1px dashed #a7a7a7;
    padding: 5px 5px 5px 10px;
    min-height: 60px;
}

.box-x-user {
    border: 1px dashed #a7a7a7;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    min-height: 60px;
}

.box-x-user.selected {
    border: 1px dashed #0073b7;
}

.box-x-radius {
    border-radius: 7px;
}

.box-x-danger {
    border-color: #d9534f;
}

.box-x-danger .shape {
    border-color: transparent #d9534f transparent transparent;
}

.box-x-success {
    border-color: #5cb85c;
}

.box-x-success .shape {
    border-color: transparent #5cb85c transparent transparent;
}

.box-x-default {
    border: 1px solid #f4f4f4;
}

.box-x-default .shape {
    border-color: transparent #999999 transparent transparent;
}

.box-x-primary {
    border-color: #428bca;
}

.box-x-primary .shape {
    border-color: transparent #428bca transparent transparent;
}

.box-x-info {
    border-color: #5bc0de;
}

.box-x-info .shape {
    border-color: transparent #5bc0de transparent transparent;
}

.box-x-warning {
    border-color: #f0ad4e;
}

.box-x-warning .shape {
    border-color: transparent #f0ad4e transparent transparent;
}

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -30px;
    top: 1px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}

.box-x-content {
    padding: 0 20px 10px;
}

@media (min-width: 487px) {
    .container {
        max-width: 750px;
    }

    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 970px;
    }

    .col-md-4 {
        width: 33.33333333333333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .col-lg-3 {
        width: 25%;
    }
}

.detail-lab-requisition {
    overflow-y: scroll;
    max-height: 550px;
}

.detail-lab-requisition h4, .detail-lab-requisition div.item-req {
    font-weight: bold;
}

.bg-red-light {
    background-color: #f9947f;
    border: 1px solid #f9947f !important;
}

.bg-red-light i.glyphicon {
    color: #333;
}
