<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myXMLConfigLabel">Create or edit a XML Config</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.xMLConfig.name"
                           required />
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.xMLConfig.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.xMLConfig)">
                    <label class="control-label" for="field_file">File</label>
                <div>
                    <div ng-if="vm.xMLConfig.file" class="help-block clearfix">
                        <span class="pull-left">{{vm.xMLConfig.fileContentType}}, {{vm.byteSize(vm.xMLConfig.file)}}</span>
                        <button type="button" ng-click="vm.xMLConfig.file=null;vm.xMLConfig.fileContentType=null;"
                                class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <button type="button" ngf-select class="btn btn-default btn-block"
                            ngf-change="vm.setFile($file, vm.xMLConfig)">
                        Select file...
                    </button>
                </div>
                <input type="hidden" class="form-control" name="file" id="field_file"
                        ng-model="vm.xMLConfig.file" required />
                <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                        ng-model="vm.xMLConfig.fileContentType" />
                <div ng-show="editForm.file.$invalid">
                    <p class="help-block"
                        ng-show="editForm.file.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
