<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPatientActionLabel">Create or edit a Patient Action</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.patientAction.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.patientAction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_signatureDate">Signature Date</label>
            <div class="input-group">
                <input id="field_signatureDate" type="text" class="form-control" name="signatureDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.patientAction.signatureDate" is-open="vm.datePickerOpenStatus.signatureDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('signatureDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actionStatus">Action Status</label>
            <select class="form-control" name="actionStatus" ng-model="vm.patientAction.actionStatus" id="field_actionStatus">
                <option value="CANCELED">CANCELED</option>
                <option value="FINISHED">FINISHED</option>
                <option value="SCHEDULED">SCHEDULED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_signed">Signed</label>
            <input type="checkbox" class="form-control" name="signed" id="field_signed"
                   ng-model="vm.patientAction.signed"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_asNeeded">As Needed</label>
            <input type="checkbox" class="form-control" name="asNeeded" id="field_asNeeded"
                   ng-model="vm.patientAction.asNeeded"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.patientAction.endDate" is-open="vm.datePickerOpenStatus.endDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>

        <div class="form-group">
            <label for="field_via">Via</label>
            <select class="form-control" id="field_via" name="via" ng-model="vm.patientAction.via" ng-options="via as via.id for via in vm.vias track by via.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_chart">Chart</label>
            <select class="form-control" id="field_chart" name="chart" ng-model="vm.patientAction.chart" ng-options="chart as chart.id for chart in vm.charts track by chart.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.patientAction.employee" ng-options="employee as employee.id for employee in vm.employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_signedBy">Signed By</label>
            <select class="form-control" id="field_signedBy" name="signedBy" ng-model="vm.patientAction.signedBy" ng-options="employee as employee.id for employee in vm.employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
