
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPayerLabel">Create or edit a Payer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.payer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.payer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bluebookApp.payer.insurance_company" for="field_insurance_company">Insurance Company</label>
            <input type="text" class="form-control" name="insurance_company" id="field_insurance_company"
                    ng-model="vm.payer.insurance_company"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.payer.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bluebookApp.payer.address_two" for="field_address_two">Address Two</label>
            <input type="text" class="form-control" name="address_two" id="field_address_two"
                    ng-model="vm.payer.address_two"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.payer.city"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.payer.state"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_zip">Zip</label>
            <input type="text" class="form-control" name="zip" id="field_zip"
                    ng-model="vm.payer.zip"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.payer.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.payer.status"
                    ng-maxlength="3" />
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
